/*Panel Config*/
.panel .panel-heading{
  text-align:center;
}

.products{
  width:90%;
  margin-left:5%;
  margin-bottom:20%;
}
.products .product{
  margin-bottom:10px;
}
.product .product-image{
  width:100%;
  height:200px;
}
.product .product-name{
  text-align:center;
  margin-top:10px;
}
.product .product-price{
  text-align:center;
  margin-top:10px;
}
.product .options{
  text-align:center;
}
.product .options b{
  font-size:20px;
  margin-left:5px;
  margin-right:5px;
}
.products-amount{
  font-size:15px;
}
.form-card{
  margin-top:5%;
}
.error{
  text-align:center;
  margin-bottom:10px;
}
