<div ng-controller="homeCtrl">
  <div class="row">
    <div class="form-inline amount">
      <div class="form-group col-md-12">
        <label>Preço total: </label>
        <div class="input-group">
          <div class="input-group-addon">R$</div>
          <input type="text" ng-model="vm.amount" class="form-control" ng-placeholder="vm.amount" disabled/>
        </div>
      </div>
    </div>
    <div class="products">
      <div class="col-md-3 product" ng-repeat="product in vm.products track by $index">
        <img class="product-image" src="{{ product.url }}">
        <p class="product-name col-md-12">{{ product.name }}</p>
        <p class="product-price">R$ {{ product.price }}</p>
        <p class="options">
          <button class="btn btn-danger" ng-click="vm.increaseAmount(product, -1)" ng-disabled="!product.qte">-</button>
          <b>{{ product.qte }}</b>
          <button class="btn btn-primary" ng-click="vm.increaseAmount(product, 1)">+</button>
        </p>
      </div>
    </div>
    <div class="col-md-1 col-md-offset-9">
      <button type="submit" class="btn btn-success btn-confirm" ng-click="vm.nextStep(vm.amount)" ng-disabled="!vm.amount">
        Seguir para pagamento
      </button>
    </div>
  </div>
</div>
