<div class="transaction" ng-controller="transactionCtrl as vm">
  <div class="empty" ng-if="!vm.listProducts.length">
    <h2 class="title"> Você ainda não tem nada no carrinho :( </h2>
    <a href="#/" class="message">Vamos fazer umas compras?</a>
  </div>
  <div class="cart" ng-if="vm.listProducts.length">
    <h3><i class="glyphicon glyphicon-shopping-cart"></i> Meu carrinho</h3>
    <table class="table">
      <thead>
        <th class="col-md-2"></th>
        <th class="col-md-3">Nome produto: </th>
        <th class="col-md-1">Quantidade: </th>
        <th class="col-md-2">Preço</th>
        <th class="col-md-2">Total: </th>
      </thead>
      <tbody>
        <tr ng-repeat="product in vm.listProducts track by $index">
          <td><img src="{{ product.url }}"></td>
          <td>{{ product.name }}</td>
          <td>
            <button class="btn btn-danger btn-xs" ng-click="vm.increaseAmount(product, -1)">-</button>
            <b>{{ product.qte }}</b>
            <button class="btn btn-primary btn-xs" ng-click="vm.increaseAmount(product, 1)">+</button>
          </td>
          <td>{{ product.price }}</td>
          <td>{{ product.total }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <div class="input-group">
              <div class="input-group-addon">R$</div>
              <input type="text" ng-model="vm.amount" class="form-control" ng-placeholder="vm.amount" disabled/>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="options" ng-if="vm.amount">
      <h3>Formas de pagamento</h3>
      <button class="btn btn-primary" ng-click="vm.changePayForm('card')">Cartão</button>
      <button class="btn btn-danger" ng-click="vm.changePayForm('billet')">Boleto</button>
      <button type="submit" class="btn btn-success" ng-click="vm.confirmTransaction(vm.card)" ng-disabled="!vm.payForm">
        Confirmar transação
      </button>
    </div>
    <form id="payment_form" class="form-card"  method="POST">
      <div ng-if="vm.payForm === 'card'">
        <div class="row">
          <ui-limit limit="12" value="vm.card.number" type="number" class="col-md-5">Número do cartão:</ui-limit>
          <div class="form-group col-md-4">
            <label> Mês de expiração: </label>
            <input type="month" ng-model="vm.card.expiration_date" class="form-control"/>
          </div>
          <ui-limit limit="3" value="vm.card.cvv" type"number" class="col-md-3">Código de segurança:</ui-limit>
        </div>
        <div class="row">
            <ui-limit limit="50" value="vm.card.holder_name" type="text" class="col-md-8">Nome completo (como no cartão)</ui-limit>
        </div>
        </div>
        <div class="row error col-md-12">
          {{ vm.field_errors }}
        </div>
      </div>
      <div ng-if="vm.payForm === 'billet'" class="billet-form">
        <p class="message-billet">Apenas clique em confirmar transação para finalizar a compra</p>
      </div>
    </form>
  </div>
</div>
