<div class="transaction" ng-controller="transactionCtrl as vm">
  <div class="empty" ng-if="!vm.listProducts.length">
    <h2 class="title"> Você ainda não tem nada no carrinho :( </h2>
    <a href="#/" class="message">Vamos fazer umas compras?</a>
  </div>
  <div class="cart" ng-if="vm.listProducts.length">
    <h3><i class="glyphicon glyphicon-shopping-cart"></i> Meu carrinho</h3>
    <table class="table">
      <thead>
        <th class="col-md-2"></th>
        <th class="col-md-3">Nome produto: </th>
        <th class="col-md-1">Quantidade: </th>
        <th class="col-md-2">Preço</th>
        <th class="col-md-2">Total: </th>
      </thead>
      <tbody>
        <tr ng-repeat="product in vm.listProducts track by $index">
          <td><img src="{{ product.url }}"></td>
          <td>{{ product.name }}</td>
          <td>
            <button class="btn btn-danger btn-xs" ng-click="vm.increaseAmount(product, -1)">-</button>
            <b>{{ product.qte }}</b>
            <button class="btn btn-primary btn-xs" ng-click="vm.increaseAmount(product, 1)">+</button>
          </td>
          <td>{{ product.price }}</td>
          <td>{{ product.total }}</td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <div class="input-group">
              <div class="input-group-addon">R$</div>
              <input type="text" ng-model="vm.amount" class="form-control" ng-placeholder="vm.amount" disabled/>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="options" ng-if="vm.amount">
      <h3>Formas de pagamento</h3>
      <button class="btn btn-primary" ng-click="vm.changePayForm('card')">Cartão</button>
      <button class="btn btn-danger" ng-click="vm.changePayForm('billet')">Boleto</button>
      <button type="submit" class="btn btn-success" ng-click="vm.confirmTransaction(vm.card)" ng-disabled="!vm.payForm || formCard.$invalid">
        Confirmar transação
      </button>
    </div>
    <form class="form-card" name="formCard">
      <div ng-if="vm.payForm === 'card'">
        <div class="row">
          <div class="form-group col-md-5">
            <label> Número do cartão: </label>
            <input type="text" ng-model="vm.card.number" class="form-control" ng-min="100000000000" ui-limit limit="12" required/>
          </div>
          <div class="form-group col-md-4">
            <label> Mês de expiração: </label>
            <input type="date" ng-model="vm.card.expiration_date" class="form-control" min="{{ vm.date }}" required/>
          </div>
          <div class="form-group col-md-3">
            <label> CVV: </label>
            <input type="text" ng-model="vm.card.cvv" class="form-control" ng-min="100" ui-limit limit="4"  required/>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-8">
            <label>Nome completo</label>
            <input type="text" ng-model="vm.card.holder_name" class="form-control" minlength="5" required>
          </div>
        </div>
        <div class="row error">
          <div class="col-md-12">
            <p ng-repeat="error in vm.field_errors track by $index">
              {{ error }}
            </p>
          </div>
        </div>
      </div>
      <div ng-if="vm.payForm === 'billet'" class="billet-form">
        <p class="message-billet">Apenas clique em confirmar transação para finalizar a compra</p>
      </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.closeTransaction()">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="myModalLabel">Transação finalizada com sucesso!</h4>
          </div>
          <div class="modal-body">
            <p> <b>Total a pagar:</b> {{ ::vm.informations_transaction.amount | coast }}</p>
            <p> <b>Status da transação:</b> {{ ::vm.informations_transaction.status }}</p>
            <p> <b>Data de criação da transação:</b> {{ ::vm.informations_transaction.date_created | date:"dd-MM-yyyy" }}</p>
            <p> <b>Forma de pagamento:</b> {{ ::vm.informations_transaction.payment_method }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="vm.closeTransaction()">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
