/*NAVBAR Config*/
.navbar{
  background-color:#E7B13A;
}
.navbar .navbar-brand{
  color:black;
}
.navbar ul li a{
  color:black;
  font-family: arial;
}

/*Panel Config*/
.container .panel{
  border:1px solid #E7B13A;
}
.container .panel .header{
  width:100%;
  text-align:center;
  margin-top:5%;
  margin-bottom:5%;
}

/*HOME.html config*/
.products{
  width:90%;
  margin-left:5%;
  margin-bottom:20%;
  margin-top:6%;
}
.products .product{
  margin-bottom:10px;
}
.product .product-image{
  width:100%;
  height:200px;
}
.product .product-name{
  text-align:center;
  margin-top:10px;
}
.product .product-price{
  text-align:center;
  margin-top:10px;
}
.product .options{
  text-align:center;
}
.product .options b{
  font-size:20px;
  margin-left:5px;
  margin-right:5px;
}
.products-amount{
  font-size:15px;
}
.btn-confirm{
  position:relative;
  right:10px;
  margin-top:10px;
}

/*Transaction.html Config*/
.empty{
  margin:5%;
  text-align:center;
}
.empty .message{
  color:black;
  font-size:18px;
}
.cart .table tbody td img{
  width:100px;
}
.cart .table tbody tr td b{
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.cart .options{
  margin-top:5%;
}
.cart .options h3{
  margin-bottom: 20px;
}
.cart .form-card{
  margin-top:5%;
}
.cart .error{
  text-align: center;
  margin-bottom:10px;
  color:red;
}
.cart .billet-form{
  margin-top:20px;
}

/*Shopping Config*/
.transaction .list-group li{
  background-color:#FFDC73;
}
.transaction .list-group li.paid{
  background-color:#90EE90;
}
.transaction .list-group li.refused{
  background-color:#FF584F;
}
.transaction .list-group li{
  font-size:16px;
}

/*Footer config*/
.footer{
  width:100%;
  text-align:center
}
.footer label, .footer p{
  font-size: 10px;
  margin:10px;
}
